.call-us-widget-popup {
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.modal-header {
    padding-bottom: 5px;
    border-bottom: none;
}
.modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
    & > p {
        text-indent: 20px;
    }
}
.modal-footer {
    padding-top: 5px;
    border-top: none;
}

.pt-1 {
    padding-top: 5px;
}

.call-us-widget-input-group-center {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}
.call-us-widget-telephone-form-group {
    .help-block {
        text-align: center;
    }
}