.btn {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}
.call-us-widget-popup {
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.modal-header {
    padding-bottom: 5px;
    border-bottom: none;
}
.modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
    & > p {
        text-indent: 20px;
    }
}
.modal-footer {
    padding-top: 5px;
    border-top: none;
}

.pt-1 {
    padding-top: 5px;
}

.m-0 {
    margin:0;
}

.call-us-widget-input-group-center {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}
.call-us-widget-telephone-form-group {
    .help-block {
        text-align: center;
    }
}
.call-us-widget-popup-close {
    position: absolute;
    right : 27px;
    top : 0;
    margin: 0;
}
.call-us-widget-popup-cloud {
    position: absolute;
    opacity: 0.6;
    max-width: 165px;
    top: -60%;
    left:-50%;
    font-size: 10px;
    border-radius: 7px;
    p {
        margin: 0 0 5px;
        &:nth-child(4) {
            margin-bottom: 8px;
        }
        &:nth-child(5) {
            margin-bottom: 0;
        }
    }
    .btn-sm {
        padding: 2px 5px;
        font-size: 10px;
    }
    &:before,
    &:after {
        content:"";
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
    }
    &:before {
        right: 7px;
        bottom: -14px;
        border-style: solid;
        border-width: 0 14px 14px 0;
        border-color: transparent #e3e3e3 transparent transparent;
    }
    &:after {
        right: 8px;
        bottom: -12px;
        border-style: solid;
        border-width: 0 12px 12px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}
.call-us-widget-no-click-layer {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
}