@import "vendor-variables-rewrite";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";

:root #{$body-class-space} {
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
}
:root #{$class-space} {
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/close";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
    @import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
    @import "call-us-widget";
}